<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/envelope.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Contact</title>
</head>
<script>
    function copyToClipboard() {
        var emailButton = document.getElementById("email");
        var email = "robbert.groffi@gmail.com";
        var tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.setAttribute("value", email);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        emailButton.textContent = "Copied!";
        setTimeout(function() {
            emailButton.textContent = "Copy Mail";
        }, 2000);
    }
    function copyToClipboardNum() {
        var phoneButton = document.getElementById("phone");
        var phoneNumber = "+32 484 53 49 48";
        var tempInput = document.createElement("input");
        document.body.appendChild(tempInput);
        tempInput.setAttribute("value", phoneNumber);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        phoneButton.textContent = "Copied!";
        setTimeout(function() {
            phoneButton.textContent = "Copy Phone";
        }, 2000);
    }
</script>
<body>
    <div class="grey2-container">
        <div class="black-container">
            <h2>LinkedIn</h2>
            <a class="button" href="https://www.linkedin.com/in/robbert-groffi-a4b089289/" target="_blank">My LinkedIn</a>
        </div>
        <div class="black-container">
            <h2 id="emailHeader">Mail</h2>
            <p>robbert.groffi@gmail.com</p>
            <a class="button" href="#" onclick="copyToClipboard()" id="email">Copy Mail</a>
        </div>
        <div class="black-container">
            <h2>Phone</h2>
            <p>+32 484 53 49 48</p>
            <a class="button" href="#" onclick="copyToClipboardNum()" id= "phone">Copy Phone</a>
        </div>
        <div class="black-container">
            <h2>Look at my resume</h2>
            <a class="button" href="{{ url_for('static', filename='files/CV_R_G.pdf') }}" target="_blank">My Resume</a>
        </div>
    </div>
    <p>Feel free to drop me a message anytime, I'm looking forward to hearing from you!</p>
    <div class="button-container">
        <a class="button" href="projects">My Projects</a>
        <a class="button" href="experience">My Experience</a>
        <a class="button" href="https://github.com/The-Robby" target="_blank">My GitHub</a>
        <a class="button" href="info">Home</a>
    </div>
</body>
</html>