<!-- experience.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/edit.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Experience</title>
</head>
<body>
    <div class="black-container">
        <h2>Materialise</h2>
        <p>During my tenure at this company, my primary role involved working as an industrial painter. <br>
            However, despite not being a developer by profession, I took the initiative to create several applications to streamline our workflow. <br>
            One notable example is StockCounter, an app that played a crucial role in efficiently managing our paint inventory and facilitating the ordering process for new batches.</p>
        <lil>01/2022-01/2024</lil>
    </div>
    <div class="black-container">
        <h2>Telenet</h2>
        <p>In this role, I served as a technical service agent with responsibilities encompassing WiFi, TV, and Digital TV support.</p>
        <lil>11/2021-01/2022</lil>
    </div>
    <p>While I haven't secured a developer's position yet, I am eager to surpass expectations and diligently acquire the necessary skills to land a job in development.<br>If you wish to contact me, please click on the "Contact Me" button below.</p>
    <div class="button-container">
        <a class="button" href="projects">My Projects</a>
        <a class="button" href="contact">Contact Me</a>
        <a class="button" href="https://github.com/The-Robby" target="_blank">My GitHub</a>
        <a class="button" href="info">Home</a>
    </div>
</body>
</html>