<!-- info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/user.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>My info</title>
</head>
<body>
    <div class="grey-container">
            <div class="invisible-container">    
                <img src="{{ url_for('static', filename='images/pfpic.jpg') }}" alt="Profile Pic" style="width: 100%; height: auto;">
                <h2>Robbert Groffi</h2>
            </div>
            <div class="invisible-container">
                <div class="key-skills">
                    <span>Key Skills:</span>
                    <ul>
                        <li>Python</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                    <span>Key Characteristics:</span>
                    <ul>
                        <li>Continuous Learner</li>
                        <li>Analytical Problem Solver</li>
                        <li>Adaptable Team Player</li>
                        <li>Integrity Champion</li>
                        <li>Goal-Focused</li>
                        <li>Direct Communicator</li>
                        <li>Strategic Planner</li>
                    </ul>
                </div>                
            </div>
    </div>
    <div class="black-container">
        <h2>I am a Developer</h2>
        <p>I'm skilled in C++, C#, and Python. Recently, I acquired skills in web development through an evening course, mastering Flask, HTML, and CSS.
        <br>Both my End-Year Project (a webshop) and this site were developed using these newly acquired skills. 
        <br>(Note: This site also utilizes JavaScript for certain functionalities, but it's not part of the End-Year Project.)
        <br>Familiarity with the (.NET Framework) further strengthens my candidacy for launching a successful career as a developer.</p>
    </div>
    
    <div class="button-container">
        <a class="button" href="experience">My Experience</a>
        <a class="button" href="projects">My Projects</a>
        <a class="button" href="contact">Contact Me</a>
        <a class="button" href="https://github.com/The-Robby" target="_blank">My GitHub</a>
        <a class="button" href="/">Intro</a>
    </div>
</body>
</html>
