<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/user.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Robbert Groffi</title>
</head>
<body>
    <div class = "black-container">
        <h1>Robbert Groffi</h1>
        <h2>Hello, welcome to my portfolio website!<br>Take your time while getting to know me!</h2>    
    </div>
    <div class = "button-container">
        <a class="button" href="info">Explore me!</a>
        <a class="button" href="{{ url_for('static', filename='files/CV_R_G.pdf') }}" target="_blank">My Resume</a>
    </div>

</body>
</html>
