<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/search.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Preview</title>
</head>
<body>
    <div class="grey2-container"> 
        <div class = "black-container">
            <img src="{{ url_for('static', filename='images/monthlypaymentpreview.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
        </div>
        <div class = "black-container">
            <img src="{{ url_for('static', filename='images/addscreen.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
        </div>  
    </div>
    <div class="grey2-container">  
        <div class = "black-container">
            <img src="{{ url_for('static', filename='images/updatescreen.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
        </div>    
        <div class = "black-container">
            <img src="{{ url_for('static', filename='images/removescreen.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
        </div>   
        <div class = "black-container">
            <img src="{{ url_for('static', filename='images/checkscreen.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
        </div>
    </div>
    <a class="button" href="projects">Go Back</a>

</body>
</html>
