<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/search.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Preview</title>
</head>
<body>
    <div class = "black-container">
        <img src="{{ url_for('static', filename='images/stockcounterpreview.png') }}" alt="StockCounter App" style="width: 100%; height: auto;">
    </div>
    <a class="button" href="projects">Go Back</a>
</body>
</html>
